<h1><%=title%></h1>
<div class="row mb-4">
    <form class="col-6" name="frm" action="">
        <div class="input-group">
            <input class="form-control" name="query" type="text" value="가산동" placeholder="장소명">
            <button class="btn btn-dark">검색</button>
        </div>
    </form>
</div>
<div id="div_local"></div>
<div class="text-center my-3">
    <button class="btn btn-dark" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-dark" id="next">다음</button>
</div>
<script id="temp_local" type="X-handlerbars-template">
    <table class="table table-hover">
        <tr class="table-dark">
            <th>장소명</th>
            <th>전화번호</th>
            <th>주소</th>
        </tr>
        {{#each documents}}
            <tr id="{{@index}}">
                <td>{{place_name}}</td>
                <td>{{phone}}</td>
                <td>{{address_name}}</td>
            </tr>
            <tfoot><%-include('modal.ejs')%></tfoot>
        {{/each}}
    </table>
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f44337bd1ecad310fe2470e9360bee12&autoload=false"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    let query = $(frm.query).val();
    let page = 1;
    getData();
    $('#div_local').on("click", "tr", function(){
        const id = $(this).attr('id');
        $('#modal' + id).modal('show');
        // 모달이 열릴 때마다 해당 모달 내의 지도를 초기화합니다.
        let mapContainer = document.getElementById('map' + id);
        let mapOptions = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };
        let map = new kakao.maps.Map(mapContainer, mapOptions);
    });
    kakao.maps.load(function() {
        // v3가 모두 로드된 후, 이 콜백 함수가 실행됩니다.
        let map = new kakao.maps.Map(mapContainer, mapOptions);
    });

    $("#next").on("click", function(){
        page++;
        getData();
    });

    $("#prev").on("click", function(){
        page--;
        getData();
    });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query = $(frm.query).val();
        if(query==""){
            alert("장소명을 입력하세요!")
        }else {
            getData();
            page = 1;
        }
    });

    function getData() {
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/local/search/keyword.json",
            dataType:"json",
            data:{query:query, size:5, page:page},
            headers:{"Authorization":"KakaoAK 35c0aa5e699cabcb9592ef08fb07d91a"},
            success:function(data){
                console.log(data);
                // alert("성공!");
                const temp = Handlebars.compile($('#temp_local').html());
                $('#div_local').html(temp(data));
                const last = Math.ceil(data.meta.pageable_count/5);
                $('#page').html(`<b>${page} / ${last}`);
                if(page==1){
                    $('#prev').attr('hidden', true);
                }else {
                    $('#prev').attr('hidden', false);
                }
                if(data.meta.is_end){
                    $('#next').attr('hidden', true);
                }else {
                    $('#next').attr('hidden', false);
                }
            }
        })
    }
</script>
