<h1><%=title%></h1>
<div class="row mb-4">
    <form class="col-4" name="frm" action="">
        <div class="input-group">
            <input class="form-control" name="query" type="text" value="" placeholder="게시글명">
            <button class="btn btn-dark">검색</button>
        </div>
    </form>
</div>

<div id="div_posts"></div>

<script id="temp_posts" type="x-handlebars-template">
    <table class="table table-hover">
        <colgroup>
            <col width="10%" />
            <col width="55%" />
            <col width="15%" />
            <col width="20%" />
        </colgroup>
        <tr class="table-dark text-center">
            <th>no.</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        {{#each .}}
            <tr>
                <td class="text-center">{{pid}}</td>
                <td id="title"><a href="/posts/read?pid={{pid}}">{{title}}</a></td>
                <td class="text-center">{{writer}}</td>
                <td class="text-center">{{formatted_pdate}}</td>
            </tr>
        {{/each}}
    </table>
</script>

<div class="text-end mb-4" id="div-write" style="display: none;">
    <a href="/posts/insert"><button class="btn btn-dark">글쓰기</button></a>
</div>

<div class="text-center my-3">
    <button class="btn btn-dark" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-dark" id="next">다음</button>
</div>

<script>
    let query = $(frm.query).val();
    const size = 5;
    let page = 1;
    getData();

    if(uid){
        $('#div-write').show();
    }else {
        $('#div-write').hide();
    }

    $("#next").on("click", function(){
        page++;
        getData();
    });

    $("#prev").on("click", function(){
        page--;
        getData();
    });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query = $(frm.query).val();
        if(query==""){
            alert("게시글명을 입력하세요!");
        }else {
            getData();
            page = 1;
        }
    });

    function getData(){
        $.ajax({
            type:"get",
            url:"/posts/list.json",
            data: {query:query, size:size, page:page},
            dataType:"json",
            success:function(data){
                console.log(data);
                const temp = Handlebars.compile($('#temp_posts').html());
                $('#div_posts').html(temp(data));
            }
        });
    }
    Handlebars.registerHelper("fmtDate", function(date){
        const yy = date.substring(0,4);
        const mm = date.substring(5,7);
        const dd = date.substring(8,10);
        const fmtdate = `${yy}년${mm}월${dd}일`;
        return fmtdate;
    });
</script>